<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">It'is time to return this item!</p>
<div style="margin-bottom: 25px; text-align: center;">
  <%= label %>
</div>
